# Configuración del Servidor
PORT=8080
ENV=development

# Configuración de Base de Datos (Neo4j Graph Database)
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=
NEO4J_PASSWORD=

# Claves de APIs Externas
NVD_API_KEY=
NVD_BASE_URL=https://services.nvd.nist.gov/rest/json/cves/2.0
NVD_API_TIMEOUT=90

# Configuración de LLM Local (Ollama)
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=gemma3:4b
# Rellena esto con tus credenciales de Docker Hub (necesario para el módulo de Docker Scout)
# Crea un token de lectura en: https://hub.docker.com/settings/security
DOCKER_HUB_USER=tu_usuario
DOCKER_HUB_TOKEN=tu_token_aqui
