[submodule "bbdd"]
	path = BBDD
	url = https://github.com/TFM-UCM-Ciberseguridad-2026/BBDD.git
[submodule "backend"]
	path = Backend
	url = https://github.com/TFM-UCM-Ciberseguridad-2026/Backend.git
[submodule "frontend"]
	path = Frontend
	url = https://github.com/TFM-UCM-Ciberseguridad-2026/Frontend.git
